.menu-list{
    padding-top: 5rem;
}

.menu-list-title{
    font-size: 3rem;
    padding-bottom: 4rem;
    font-family: 'Pacifico';
}

.search-bar {
    border: 2px solid #A2D2A4; 
    border-radius: 20px; 
    padding-left: 2.5rem; 
    font-size: 14px; 
    width: 18rem;
    box-sizing: border-box;
}

.input-icon-wrapper-dashboard {
    position: relative; 
    width: 100%;
}

.icon-inside-input-dashboard {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #AAAAAA !important;
    font-size: 1rem;;
}

.button-default {
    background-color: #ffffff;
    border-radius: 20px;
    border-color: #AAAAAA;
    color: #AAAAAA;
    padding:  0.3rem 1.15rem;
    font-family: Verdana;
    font-size: 12px;
    margin-right: 0.5rem;
    transition: box-shadow 0.5s ease;
    margin-left: 0 !important;
}

.button-default.active {
    background-color: #9DC08B;
    border-radius: 20px;
    border-color: #9DC08B;
    color: white;
    padding:  0.3rem 1.15rem;
    font-family: Verdana;
    font-size: 12px;
    margin-right: 0.5rem;
    transition: box-shadow 0.5s ease;
    margin-left: 0 !important;
}

.button-az {
    background-color: #ffffff;
    border-radius: 20px;
    border-color: #AAAAAA;
    color: #AAAAAA;
    padding:  0.3rem 1.15rem;
    font-family: Verdana;
    font-size: 12px;
    margin-right: 0.5rem;
    transition: box-shadow 0.5s ease;
    width: 4.4rem;
}

.button-az.active {
    background-color: #9DC08B;
    border-radius: 20px;
    border-color: #9DC08B;
    color: white;
    padding:  0.3rem 1.15rem;
    font-family: Verdana;
    font-size: 12px;
    margin-right: 0.5rem;
    transition: box-shadow 0.5s ease;
    width: 4.4rem;
}

/* Sidebar */
.pilihan-menu{
    padding-top: 3rem;
}

.section-sidebar {
    display: flex;
    align-items: flex-start;
}

.button-sidebar {
    background-color: #ffffff;
    border-radius: 20px;
    border-color: #AAAAAA;
    color: #AAAAAA;
    padding:  0.3rem 1.15rem;
    font-family: Verdana;
    font-size: 18px;
    margin-right: 0.1rem;
    transition: box-shadow 0.5s ease;
    max-width: 20rem;
    width: 100%; 
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.button-sidebar.active {
    background-color: #9DC08B;
    border-color: #9DC08B;
    color: white;
}

.edit-icon {
    cursor: pointer;
    margin-left: 5px;
    color: #AAAAAA;
    width: 15px;
}

.button-sidebar.active .edit-icon {
    color: #FFFFFF;
}

.button-sidebar .edit-icon:active {
    background: none;
    border: none;
    box-shadow: none;
}

/* Card */
.section-card-dashboard{
    border-radius: 1.875rem;
    transition: transform 0.3s ease, height 0.3s ease;
    min-height: 20rem;
    height: auto;
    cursor: pointer;
    position: relative;
}

.section-card-dashboard.active {
    height: auto; 
    border: 2px solid #007bff;
}

.section-card-dashboard .card-title, .section-card-dashboard .card-price, .section-card-dashboard .card-description, .section-card-dashboard .img-card {
    opacity: 1; 
    transition: opacity 0.3s ease;
}


.section-card-dashboard:hover .card-title, .section-card-dashboard:hover .card-price, .section-card-dashboard:hover .card-description, .section-card-dashboard:hover .img-card {
    opacity: 0.2; 
    filter: blur(2px);
    transition: opacity 0.3s ease, filter 0.3s ease;
}

.section-card-dashboard:hover .card-plus, .section-card-dashboard:hover .card-plus-text {
  opacity: 1 !important; 
  filter: blur(0) !important; 
}

.card-edit-text {
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    opacity: 0; 
    visibility: hidden; 
    white-space: nowrap;
    transition: opacity 0.3s ease, visibility 0.3s ease; 
    color: #9DC08B;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.section-card-dashboard:hover .card-edit-text {
    opacity: 1; 
    visibility: visible; 
}
  

.section-card-dashboard:hover .card-edit-text {
    opacity: 1; 
    visibility: visible;
}

.section-card-dashboard:hover:not(.active) {
    transform: scale(1.03);
}

.section-card-plus:hover .card-plus {
    transform: scale(1.2); 
}
  
.section-card-plus:hover .card-plus-text {
    opacity: 1; 
    visibility: visible; 
}

.section-card-plus{
    height: 100%;
    cursor: pointer;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    position: relative;
    overflow: hidden;
}

.card-plus{
    text-align: center;
    font-size: 6rem !important;
    font-weight: bolder;
    color: #9DC08B;
    transition: transform 0.3s ease;
}

.card-plus-text {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: #9DC08B; 
    position: absolute;
    top: calc(50% + 7rem);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.img-card {
    width: 100%;
    max-height: 12rem;
    object-fit: cover;
    border-top-left-radius: 1.875rem;
    border-top-right-radius: 1.875rem;
}

.card-title{
    font-size: 20px;
}

.card-price{
    font-size: 15px;
    color: #609966;
    margin: 0;
}

.card-description{
    font-size: 12px;
    color: #AAAAAA;
    padding: 0;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.section-card-dashboard.active .card-description {
    white-space: normal; 
    overflow: visible; 
    text-overflow: unset;
}

/* Footer */
.footer{
    display: flex;
    background-color: #9DC08B;
    height: 147px;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    color: white;
}