.section-Judul {
    background-image: url('src/assets/Kotak Putih Abu.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
}

.gambarBawahNavbar{
    width: 50px;
    height: 50px;
}

.gambarBawahNavbar1{
    width: 30px;
    height: 50px;
}

.main-title{
    font-size: 3rem;
}

.description{
    font-weight: bold;
}

.DaftarMenu{
    padding-top: 5rem;
}

.Judul{
    font-size: 3rem;
    padding-bottom: 2rem;
    font-family: 'Pacifico';
}

.filter{
    font-size: 18px;
    font-weight: bold;
}

.search {
    border: 2px solid #A2D2A4;
    border-radius: 20px;
    padding: 5px 15px; 
    font-size: 14px;
    color: #A2D2A4;
  }

.barisFilter{
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 3px 1px -2px #AAAAAA; 
}

.button, .buttonKanan {
    background-color: #9DC08B;
    border-radius: 20px;
    border-color: #9DC08B;
    color: white;
    padding:  0.3rem 1.15rem;
    font-family: Verdana;
    font-size: 12px;
    margin-right: 0.5rem;
    transition: box-shadow 0.5s ease;
}

.buttonAZ{
    background-color: white;
    border-radius: 20px;
    border-color: #9DC08B;
    color: #9DC08B;
    padding:  0.3rem 1.15rem;
    font-family: Verdana;
    font-size: 12px;
    margin-right: 0.5rem;
    transition: box-shadow 0.5s ease;
    width: 6.5rem;
}

/* Sidebar */
.PilihanMenu{
    padding-top: 3rem;
}

.Sidebar {
    display: flex;
    align-items: flex-start;
}

.buttonSidebar {
    background-color: #9DC08B;
    border-radius: 20px;
    border-color: #9DC08B;
    color: white;
    padding:  0.3rem 1.15rem;
    font-family: Verdana;
    font-size: 18px;
    margin-right: 0.5rem;
    transition: box-shadow 0.5s ease;
    max-width: 17rem;
    width: 100%; 
    text-align: left;
}

/* Bagian card */
.isiCard{
    border-radius: 1.875rem;
}

.img {
    width: 100%;
    max-height: 12rem;
    object-fit: cover;
    border-top-left-radius: 1.875rem;
    border-top-right-radius: 1.875rem;
  }

.judulCard{
    font-size: 20px;
}

.hargaCard{
    font-size: 15px;
    color: #609966;
    margin: 0;
}

.penjelasanCard{
    font-size: 12px;
    color: #AAAAAA;
    padding: 0;
}