.judul{
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
}

.background {
    background-image: url('src/assets/foto-makanan.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 50px;
    border-radius: 50px;
    height: 33rem;
    width: 92%;
    opacity: 0.8;
}

.card-login{
    margin: auto;
    border-radius: 30px;
    height: 23rem;
    width: 23rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px; 
}

.login{
    font-family: 'pacifico';
    font-size: 3rem !important;
    color: #000000;
}

.input-usn-pw{ 
    margin-bottom: 1rem;
    border-radius: 30px;
    border-width: 2px;
    border-color: #133E87;;
    font-family: "Poppins";
    padding-right: 4.2rem;
}

.button-submit{
    padding-inline: 1.3rem;
    border-radius: 30px;
    background-color: #9DC08B;
    border-color: #9DC08B;
    font-family: "Poppins";
    font-size: 1rem;
    font-weight: bold;
    display: block;
    margin: auto;
    margin-bottom: 2.5rem;
}

.input-icon-wrapper {
    position: relative;
    width: 100%;
}

.icon-inside-input-halaman-login {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #133E87;
    pointer-events: none;
}
  